nav.breadcrumbs {
  font-size: 80%;
  --pico-nav-breadcrumb-divider: ' / ';
  line-height: 0.1;
}

.breadcrumb-item {
  margin-left: 0;
  margin-right: -15px;
}

.breadcrumb-item::after {
  content: '>';
  margin-left: 8px;
  margin-right: 0px;
}

.breadcrumb-item:last-child::after {
  content: '';
}
