.exhibitor-details {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-size: 75%;
}

.exhibitor-details h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.exhibitor-details h3 {
  margin-top: 1em;
  font-size: 1.3em;
}

.exhibitor-details p {
  margin: 8px 0;
}

.exhibitor-details .contacts p {
  margin: 4px 0;
}

.exhibitor-details a {
  color: #007bff;
  text-decoration: none;
}

.exhibitor-details a:hover {
  text-decoration: underline;
}
