html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.register-page {
  margin-top: 2em;
  transform: scale(0.9);
  transform-origin: 0 0;
}

.exhibitor-registration {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.exhibitor-registration fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

form.exhibitor-registration fieldset {
  border: 1px solid #ccc;
  padding: 1em;
}

.validation-message {
  color: red;
  font-size: 0.9em;
  margin-bottom: 1em;
}
