@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
}

body {
  font-family: 'Lato', sans-serif;
}

dialog {
  --pico-modal-overlay-background-color: transparent;
  --pico-modal-overlay-backdrop-filter: none;
}

.image-only-button {
  padding: 3px 10px 3px 10px;
}

.button-image {
  width: 2em;
  height: 2em;
}

.inverted-image {
  filter: invert(1);
}

nav form {
  position: relative;
  top: 10px; /* Adjust this value as needed */
}

nav {
  height: 2em;
  margin-top: 1em;
}

.login-failed {
  color: #e57373;
  min-height: 1.5em;
}

th {
  font-weight: bold;
  background: #eee;
}

fieldset {
  margin-bottom: 3em;
}

legend {
  font-size: 1.5em;
}

.editable-title {
  border: 1px solid #ccc;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  display: block;
  color: #aaa;
}
