table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th,
tr {
  cursor: pointer;
}

dialog.registration-details {
  --pico-modal-overlay-backdrop-filter: blur(5px);
}
